Socket: "{{ interlink_socket_url }}"
SidecarPort: "0"
SbatchPath: "/usr/bin/sbatch"
ScancelPath: "/usr/bin/scancel"
SqueuePath: "/usr/bin/squeue"
SinfoPath: "/usr/bin/sinfo"
CommandPrefix: ""
ImagePrefix: "docker://"
SingularityPath: "/usr/bin/apptainer"
SingularityPrefix: ""
SingularityDefaultOptions: []
ExportPodData: true
DataRootFolder: "{{ interlink_data_dir }}/jobs/"
Namespace: "{{ interlink_namespace }}"
Tsocks: false
BashPath: /bin/bash
VerboseLogging: true
ErrorsOnlyLogging: false
EnableProbes: true
DefaultFlavor: "{{ slurm_partition }}"
Flavors:
  {{ slurm_partition }}:
    Name: "{{ slurm_partition }}"
    Description: "Default Slurm {{ slurm_partition }} partition"
    CPUDefault: {{ slurm_default_cpu }}
    MemoryDefault: "{{ slurm_default_memory }}"
    SlurmFlags:
      - "--partition={{ slurm_partition }}"
      - "--time={{ slurm_job_time }}"
{% for flag in slurm_extra_flags %}
      - "{{ flag }}"
{% endfor %}
{% set effective_gpu_count = slurm_gpu_count | int %}
{% if slurm_gpu_enabled | bool and (effective_gpu_count > 0 or slurm_gpu_gres | length > 0) %}
{% set effective_gpu_model = slurm_gpu_model | default('') %}
{% set effective_gpu_gres = slurm_gpu_gres if slurm_gpu_gres | length > 0 else ('gpu:' ~ effective_gpu_model ~ ':' ~ effective_gpu_count if effective_gpu_model | length > 0 else 'gpu:' ~ effective_gpu_count) %}
  {{ slurm_gpu_flavor }}:
    Name: "{{ slurm_gpu_flavor }}"
    Description: "GPU Slurm {{ slurm_gpu_partition }} partition"
    CPUDefault: {{ slurm_gpu_default_cpu }}
    MemoryDefault: "{{ slurm_gpu_default_memory }}"
    SlurmFlags:
      - "--partition={{ slurm_gpu_partition }}"
      - "--time={{ slurm_job_time }}"
      - "--gres={{ effective_gpu_gres }}"
{% for flag in slurm_gpu_extra_flags %}
      - "{{ flag }}"
{% endfor %}
{% endif %}
